<h2 class="step-header">{{step.name}}</h2>
<p class="step-description">{{step.description}}</p>
<div class="wrapper">
  <div *ngIf="isDynamicPage" class="external-source">
    <div class="square">
      <img alt="detected-source" src="{{getIconUrl(selectedSource.icon || 0)}}"/>
    </div>
    <h2>{{selectedSource.title}}</h2>
  </div>
  <div class="inline-input">
    <input (keydown.enter)="onClickNext()"
           [formControl]="link"
           minlength="10"
           placeholder="Link to the source you would like to import"
           required
           type="url"/>
    <button (click)="onClickNext()"
            [disabled]="!link.valid || formSubmitted"
            class="form-continue-btn">{{isDynamicPage ? "Import project" : "Finish"}}
    </button>
  </div>
  <div class="image-wrapper">
    <img alt="link-svg" src="/assets/images/wizard/link.svg"/>
  </div>
</div>
