<h2 class="step-header">{{step.name}}</h2>
<p class="step-description">{{step.description}}</p>
<div class="wrapper">
  <div class="left">
    <textarea
        [formControl]="shortDescription"
        class="project-short-description"
        maxlength="170"
        minlength="3"
        name="shortDescription"
        placeholder="This is a short description of your project"
        required
        rows="2"
        type="text"
    ></textarea>

    <p class="form-footnote">Describe your project in one sentence or 170 characters.</p>
    <quill-editor [formControl]="longDescription" [modules]="modulesConfiguration" [styles]="{height: '350px'}"
                  class="project-long-description dex-quill-editor" placeholder="This is a long description of your project">
    </quill-editor>
  </div>
  <div class="right">
    <img alt="describe svg" src="/assets/images/wizard/describe.svg"/>
    <button (click)="onClickNext()" [disabled]="!shortDescription.valid || !longDescription.valid" class="form-continue-btn">Next</button>
  </div>
</div>
