@import "assets/styles/variables";

.wrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 30px;
  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    img {
      display: none !important;
    }
  }

  .left {
    width: 100%;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: 50px;
    }

    button {
    }
  }

  textarea {
    resize: none;

    &.project-short-description {
      height: 100px;
    }

    &.project-long-description {
      height: 300px;
    }
  }
}
