@import "assets/styles/variables";

h2 {
  color: #000;
}

p {
  color: #aeaeae;
}
.step-description {
  margin-bottom: 40px;
}

.form-continue-btn {
  width: 145px;
  height: 40px;
  border: none;
  border-radius: $border-radius;
  background-color: $accent-color-red-primary;
  box-shadow: $box-shadow;
  color: white;
  &:hover {
    background: $accent-color-red-secondary;
  }
  &.grey {
    color: black;
    background-color: $light-mode-grey-quaternary;
    &:hover {
      background: $light-mode-grey-thertiary;
    }
  }
}

input,
textarea {
  border: none;
  border-radius: 6px;
  background-color: $light-mode-grey-quaternary;
  height: 38px;
  width: 100%;
  padding: 8px 10px;
  outline: none;
}
