<h2 class="step-header">{{step.name}}</h2>
<p class="step-description">{{step.description}}</p>

<h3>Categories</h3>
<p>Add categories by clicking them</p>
<div class="project-categories">
  <a
      (click)="onCategoryClick(category)"
      *ngFor="let category of categories"
      [ngClass]="{selected: category.selected}"
      class="category"
      href="javascript:void(0)">
    {{category.name}}
  </a>
</div>
<!-- TODO: Implement tags when this is in the backend -->

<!--  <h3>Tags</h3>-->
<!--  <p>Add #tags by typing the word and pressing enter</p>-->
<!--  <input-->
<!--      (keydown.enter)="onTagEnter()"-->
<!--      [formControl]="tagInput"-->
<!--      id="tag"-->
<!--      maxlength="20"-->
<!--      minlength="3"-->
<!--      name="tag"-->
<!--      required-->
<!--      type="text"/>-->
<!--  <div class="project-tags">-->
<!--  <span (click)="onTagClick(tag)" *ngFor="let tag of tags" class="tag">-->
<!--    #{{tag}}-->
<!--  </span>-->
<!--  </div>-->
<button (click)="onClickNext()" class="form-continue-btn">{{isOptional ? "Skip" : "Next"}}</button>
