# Auto detect text files and perform LF normalization
* text=auto eol=lf

# These files are text and should be normalized (convert crlf =&gt; lf)
*.ts eol=lf
*.js eol=lf
*.md eol=lf

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png binary
*.jepg binary

*.sdf binary