<h2 class="step-header">{{step.name}}</h2>
<p class="step-description">{{step.description}}</p>
<div class="wrapper">
  <div class="project-icon-picker">
    <app-file-uploader [acceptMultiple]="acceptMultiple" [acceptedTypes]="acceptedTypes" [showPreview]="false"></app-file-uploader>
  </div>
  <button class="form-continue-btn grey">Upload image</button>
  <div class="right">
    <div class="file-preview">
      <div [style.background-image]="fileUploader?.files[0] ? 'url('+ fileUploader?.files[0]?.preview + ')' : 'url(/assets/images/placeholder.png)'" class="circle"></div>
      <img class="workers" src="/assets/images/wizard/icon.svg"/>
    </div>
    <button (click)="onClickNext()" class="form-continue-btn">Next</button>
  </div>
</div>
