<footer>
  <div class="container">
    <div class="row">
      <div class="col-1 offset-1">
        <span class="title"><a routerLink=""><img alt="DeX" src="assets/images/dex-logo-dark-orange.png"></a></span>
      </div>
      <div class="col-md-2 offset-1">
        <h4>Projects</h4>
        <div class="menu-items">
          <a routerLink="project/add/source" routerLinkActive="active">Add project</a>
          <a routerLink="project/overview" routerLinkActive="active">Projects Overview</a>
          <a href="#">My projects</a>
        </div>
      </div>
      <div class="col-md-2">
        <h4>Profile</h4>
        <div class="menu-items">
          <a href="#">My profile</a>
          <a href="#">My contributions</a>
        </div>
      </div>
      <div class="col-md-2">
        <h4>More info</h4>
        <div class="menu-items">
          <a href="https://fontys.nl/">Fontys.nl</a>
          <a href="https://github.com/DigitalExcellence">Github.com</a>
          <a href="https://github.com/DigitalExcellence/dex-frontend/wiki">Documentation</a>
          <a href="#">Contact us</a>
        </div>
      </div>
      <div class="col-md-2">
        <h4>Legal</h4>
        <div class="menu-items">
          <a href="#">Privacy policy</a>
          <a href="#">License</a>
          <a href="#">Terms of conditions</a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3 copyright">
        <p>Find the entire <b>DeX</b> project on <a href="https://github.com/DigitalExcellence"><b>GitHub</b></a></p>
      </div>
    </div>
  </div>
</footer>
