<ng-container *ngIf="userProjects.length > 0">
  <div class='list project-list-wrapper'>
    <div (click)="projectClicked(project)" *ngFor="let project of userProjects" class="project list">
      <div class='circle'>
        <img alt="projec-icon" loading="lazy" src='/src/assets/images/placeholder.png'>
      </div>
      <div class="project-info">
        <h3 class="project-name">{{project.name}}</h3>
        <p class="project-short-description">{{project.description}}</p>
      </div>
    </div>
  </div>
</ng-container>
