@import "assets/styles/variables";

.modal-highlight-container{
  background: #F8F8F8;
  width:600px;
  border-radius: 6px;
  border: none;
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 15px;
}
.highlight-form {
  margin-top:20px;
  input[type="date"]{
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px 6px #0000001a;
    height: 45px;
    width: 100%;
    margin-bottom: 25px;
    padding: 0 15px;
    &:focus{
      outline: none;
      border: 1px solid #707070;
    }
  }
  p.date-error-message{
    color:$accent-color-primary;
  }

  &__checkbox{
    display: flex;
    align-items: center;
    input[type="checkbox"]{
      border:solid 1px #707070;
      margin-right:15px;
    }
    h4{
      margin:0;
    }
  }
}

.modal-buttons{
  display: flex;
  justify-content: flex-end;
  button:nth-child(1) {
    margin-right: 15px;
  }
}
