.title h2 {
  color: #000;
  font-size: 180%;
}

.under-title h4 {
  color: #AEAEAE;
  font-size: 70%;
}

.inputfield {
  margin-top: 3vw;
  margin-left: 8vw;
  width: 120%;
}

.inputfield input {
  width: 185%;
  margin-left: 5%
}

.inputfield2 input {
  width: 100%;
}

.image img {
  margin: 20px;
  width: 55%;
  height: auto;
}
