<!--header-->
<div class="clr-row justify-content-center header-text">
  <div class="clr-col-12 justify-content-center">
    <h1>All projects in one place.</h1>
  </div>
</div>
<div class="clr-row justify-content-center">
  <div class="clr-col-12">
    <div class="search">
      <input type="search" placeholder="Search source">
      <button><img src="assets/research.svg"></button>
    </div>
  </div>
</div>

<!--highlights-->
<div class="highlights">
  <div class="clr-row">
    <div class="clr-col-12">
      <h2>Hightlighted projects</h2>
      <p>Our top 3 projects</p>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-md-12 clr-col-lg-4">
      <div class="card">
        <div class="card-title">
          <div class="icon"><img src="assets/code.svg"></div>
          <h3>Gekke Bekke Trekke Game Paaspop 2019</h3>
        </div>
        <p>Gekke Bekke Trekke is an interactive tablet game in which a group of festival-goers have to complete a set of
          tasks within 3 minutes.</p>
      </div>
    </div>
    <div class="clr-col-md-12 clr-col-lg-4">
      <div class="card">
        <div class="card-title">
          <div class="icon"><img src="assets/code.svg"></div>
          <h3>Gekke Bekke Trekke Game Paaspop 2019</h3>
        </div>
        <p>Gekke Bekke Trekke is an interactive tablet game in which a group of festival-goers have to complete a set of
          tasks within 3 minutes.</p>
      </div>
    </div>
    <div class="clr-col-md-12 clr-col-lg-4">
      <div class="card">
        <div class="card-title">
          <div class="icon"><img src="assets/code.svg"></div>
          <h3>Gekke Bekke Trekke Game Paaspop 2019</h3>
        </div>
        <p>Gekke Bekke Trekke is an interactive tablet game in which a group of festival-goers have to complete a set of
          tasks within 3 minutes.</p>
      </div>
    </div>
  </div>
</div>

<!--share image and button-->
<div class="clr-row share">
  <div class="clr-col-lg-6 clr-col-md-12">
    <img src="assets/illustation-orange-light.png">
  </div>
  <div class="clr-col-lg-4 clr-col-md-12 share-text">
    <h1>Share a project and collaborate</h1>
    <button>Add project</button>
  </div>
</div>
