@import "assets/styles/variables";

.container {
  width: 100%;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto 20px auto;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  label {
    color: white;
    width: 183px;
    height: 44px;
    border-radius: 21.5px;
    background-color: $accent-color-red-primary;
    padding: 8px 16px;
  }

  h3 {
    font-size: 18px;
    color: #38424c;
  }
}

.files-list {
  background-color: $light-mode-grey-primary;
  transition: 0.5s all;
  padding: 15px;
  border-radius: 6px;

  div.single-file:not(:last-child) {
    border-bottom: 3px solid rgb(165, 165, 165);
    border-radius: 2px;
  }

  div.single-file {
    padding: 10px;

    div.file-info {
      display: flex;
      align-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .file-icon {
        width: 128px;
        height: 128px;
        background-position: center;
        border-radius: 50%;
      }

      .file-name {
        vertical-align: center;
        margin-left: 5%;
        font-size: 2rem
      }

      .file-size {
        margin: 1rem 0 0 5px;
        color: gray;
      }

      .delete {
        font-size: 2rem;
        margin: 0 20px 0 auto;
      }
    }

    .file-progress {
      min-width: 100%;
    }

    .progress-bar {
      background-color: $accent-color-red-primary;
      transition: 0.5s all;
      border-radius: 25px;
    }
  }
}
