<div class="container" app-drag-and-drop>
    <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target)"
        [multiple]="acceptMultiple" [accept]="acceptedTypes.join(',')" />
    <h3>Drag and drop a file here</h3>
    <h3>Or</h3>
    <label for="fileDropRef">Browse for a file here</label>
</div>
<div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
        <div class="file-info">
            <img alt="image-preview" class="file-icon" [src]=file?.preview >
            <h4 class="file-name">
                {{ file?.name }}
            </h4>
            <h4 class="file-size">
                {{ file?.readableSize }}
            </h4>

            <div class="delete" (click)="deleteFile(i)">
                X
            </div>
        </div>
        <div *ngIf="file.progress" class="file-progress" >
            <div class="progress-bar" id="progress-bar-{{i}}" [style.width]="file.progress + '%'">{{file.progress}}%
            </div>
        </div>

    </div>
</div>
