@import "assets/styles/variables";

.container {
  width: 100%;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: $light-mode-grey-primary;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    font-size: 1.2rem;
  }

  img {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
  }

  strong {
    color: $accent-color-red-primary;
  }
}

.files-list {
  background-color: $light-mode-grey-quaternary;
  transition: 0.5s all;
  border-radius: 6px;

  div.single-file:not(:last-child) {
    border-bottom: 3px solid rgb(165, 165, 165);
    border-radius: 2px;
  }

  div.single-file {
    padding: 0 10px;

    div.file-info {
      display: flex;
      align-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .file-icon {
        width: 128px;
        height: 128px;
        background-position: center;
        border-radius: 50%;
      }

      .file-name {
        vertical-align: center;
        margin-left: 5%;
        font-size: 1rem
      }

      .file-size {
        margin: 1rem 0 0 5px;
        color: gray;
      }

      .delete {
        font-size: 2rem;
        margin: 0 20px 0 auto;
      }

      button {
        background: $accent-color-red-primary;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        border: none;
        font-size: 25px;
        font-weight: 800;
        margin-right: 1em;
      }
    }

    .file-progress {
      min-width: 100%;
    }

    .progress-bar {
      background-color: $accent-color-red-primary;
      transition: 0.5s all;
      border-radius: 25px;
    }
  }
}
