.container {
  width: 100%;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0 auto 20px auto;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  label {
    color: white;
    width: 183px;
    height: 44px;
    border-radius: 21.5px;
    background-color: #e85b3f;
    padding: 8px 16px;
  }

  h3 {
    font-size: 18px;
    color: #38424c;
  }
}

.files-list {
  div.single-file {
    div.file-info {
      display: flex;
      align-content: space-between;
      align-items: center;

      .file-icon {
        width: 128px;
        height: 128px;
        background-position: center;
        border-radius: 50%;
      }

      .file-name {
        vertical-align: center;
        margin-left: 5%;
      }
    }

    .file-progress {
      min-width: 100%;
      background-color: #868686;
      border-radius: 5%;
    }

    .progress-bar {
      background-color: #e85b3f;
      transition: 0.5s all;
    }
  }
}
