<div class="row justify-content-center header-text">
  <div class="col-12">
    <h1>Add new project</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2>Most used sources</h2>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <div class="source">
      <img src="assets/github-logo.svg">
      <h3>gitHub</h3>
    </div>
  </div>
  <div class="col-2">
    <div class="source">
      <img src="assets/github-logo.svg">
      <h3>gitHub</h3>
    </div>
  </div>
  <div class="col-2">
    <div class="source">
      <img src="assets/github-logo.svg">
      <h3>gitHub</h3>
    </div>
  </div>
  <div class="col-2">
    <div class="source">
      <img src="assets/github-logo.svg">
      <h3>gitHub</h3>
    </div>
  </div>
  <div class="col-2">
    <div class="source">
      <img src="assets/github-logo.svg">
      <h3>gitHub</h3>
    </div>
  </div>
  <div class="col-2">
    <div class="source">
      <img src="assets/github-logo.svg">
      <h3>gitHub</h3>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-6 search">
    <input type="search" placeholder="SEARCH SOURCE">
    <button><img src="assets/search-icon.svg"></button>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12">
    <h1>OR</h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12">
    <a href="#">Add project manual</a>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-4">
    <p>Note: Only add a project manual if the source of your project does not exist in the list above.</p>
  </div>
</div>
