<h2 class="step-header">Who has worked on the project?</h2>
<p class="step-description">Here you can name all the project members and their role within the project!</p>

<div class="wrapper">
  <div class="left">
    <div class="left-col">
      <p>Contributor Full Name</p>
      <input
          (keydown.enter)="onClickAddCollaborator()"
          [formControl]="collaboratorName"
          id="fullname"
          maxlength="20"
          minlength="3"
          name="fullname"
          required
          type="text"/>
    </div>
    <div class="right-col">
      <p>Contributor function</p>
      <input
          (keydown.enter)="onClickAddCollaborator()"
          [formControl]="collaboratorRole"
          id="function"
          maxlength="20"
          minlength="3"
          name="function"
          required
          type="text"/>
    </div>
    <div class="button-col">
      <button (click)="onClickAddCollaborator()" [disabled]="!collaboratorName.valid || !collaboratorRole.valid" class="add-button">+</button>
    </div>
    <ul class="collaborator list">
      <li *ngFor="let collaborator of step.project.collaborators">
        {{collaborator.fullName}}
      </li>
      <li>Lieke van der Voort</li>
      <li>Walter Sajtos</li>
    </ul>
    <ul class="collaborator list">
      <li *ngFor="let collaborator of step.project.collaborators">
        {{collaborator.role}}
      </li>
      <li>Designer</li>
      <li>Developer</li>
    </ul>
    <ul>
      <li *ngFor="let collaborator of step.project.collaborators">
        <span (click)="deleteCollaboratorClick(collaborator)" class="fas fa-trash trash-icon"></span>
      </li>
      <li>
        <span class="fas fa-trash trash-icon"></span>
      </li>
      <li>
        <span class="fas fa-trash trash-icon"></span>
      </li>
    </ul>
  </div>
  <div class="image-col">
    <img alt="" src="/assets/images/wizard/collaborators.svg" />
    <button (click)="onClickNext()" class="form-continue-btn">Next</button>
  </div>
</div>
