<h1>Projects</h1>
<div class="row">
  <div class="col-12">
    <table class="projects-table">
      <tr *ngFor="let project of projects">
        <td>
          <p (click)="onProjectClick(project.id)"><b>{{ project.name }}</b><br>{{ project.shortDescription }}</p>
        </td>
        <td>
          <p><img alt="clock" class="clock-icon" src="assets/clock.svg"> {{ project.created | date:'longDate' }}</p>
        </td>
        <td>
          <p><img alt="user" class="clock-icon" src="assets/user.svg"> {{ project.user.name }}</p>
        </td>
      </tr>
    </table>
  </div>
</div>
