@import "assets/styles/variables";

.form-page-container {
  display: flex;
  flex-direction: row;
  padding: 64px 32px;
  box-shadow: $box-shadow;

  .form-step {
    width: 100%;
    margin: 0px auto;
    padding-right: 30px;
    max-width: 740px;
  }

  .step-page-container {
    display: flex;
    flex: 1;

    .current-step {
      color: #9a9696;
      font-size: 2.5rem;
    }
  }
}
