<div *ngIf="project">
  <div class="row project_description">
    <div class="col-8 offset-2">
      <h1>{{ project.name | uppercase }}</h1>
      <p>{{ project.description }}</p>
    </div>
  </div>



  <div class="row project_details">
    <div class="col-4 offset-2">
      <h2>External Link</h2>
      <p><a href="{{ project.url }}">{{ project.url }}</a></p><br>

      <h2>Upload date</h2>
      <p>{{ project.created | date:'longDate' }}</p><br>

      <h2>Uploader</h2>
      <p>{{ project.user.name }}</p><br>

      <button>Edit</button>
    </div>
    <div class="col-4">
      <h2>Contributors</h2>
      <ul>
        <li *ngFor="let collaborator of project.collaborators">{{ collaborator.fullName }} - {{ collaborator.role}}</li>
      </ul>
    </div>
  </div>
</div>
