<!--header-->
<div class="clr-row justify-content-center header-text">
  <div class="clr-col-12 justify-content-center">
    <h1>All projects in one place.</h1>
  </div>
</div>
<div class="clr-row justify-content-center">
  <div class="clr-col-12">
    <div class="search">
      <input type="search" placeholder="Search source">
      <button><img src="assets/research.svg"></button>
    </div>
  </div>
</div>

<!--Highlights-->
<app-top-highlight-cards></app-top-highlight-cards>

<!--share image and button-->
<div class="clr-row share">
  <div class="clr-col-lg-6 clr-col-md-12">
    <img src="assets/illustation-orange-light.png">
  </div>
  <div class="clr-col-lg-4 clr-col-md-12 share-text">
    <h1>Share a project and collaborate</h1>
    <button>Add project</button>
  </div>
</div>