<div class="who-is-dex">
  <div class="text">
    <h2>What is DeX?</h2>
    <p>
      DeX is made by a team of super motivated students of Fontys ICT – Delta. We regret that most of the amazing projects of our fellow students
      never came out of the classrooms. That is why we introduced dex. We want to get our great projects into the world and encourage collaboration.
    </p>
  </div>
  <div class="image">
    <img alt="realistic situation with dex" src="/assets/images/situation.jpg"/>
  </div>
</div>
