<div class="who-is-dex">
  <div class="text">
    <h2>What is DeX?</h2>
    <p>
        DeX is a platform for collaborating on innovative ICT projects for students, researchers, teachers and experts. It facilitates the sharing of ideas and developments, collaboration and strengthens our shared knowledge. DeX helps unlock knowledge and inspiration. Yet, you can also share research papers, scripts, software solutions, and more. After all, sharing is caring.
    </p>
  </div>
  <div class="image">
    <img alt="realistic situation with dex" src="/assets/images/situation.jpg"/>
  </div>
</div>
