@import "assets/styles/variables";

.image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-right: 40px;

  img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}
