@import "assets/styles/variables";

.modal-beta-container {
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #303235;

    p {
        color: white;
    }

    * {
        margin: 0;
    }

    .accent-text-color,
    a {
        color: $accent-color-primary;
    }
}
