<div class="col-md-2 projects-filter-wrapper">
  <div class="projects-filter">
    <h3><em class="fas fa-filter"></em> Filters</h3>
    <div class="divider"></div>
    <div class="filter-group">
      <h4>Sort Options</h4>
      <form class="sort-options-form">
        <label for="asc-desc">Sort options</label>
        <select (change)="onSortFormValueChange()" [formControl]="sortOptionControl" class="option-select"
          id="asc-desc">
          <option *ngFor="let sortOption of sortSelectOptions" [ngValue]="sortOption">
            {{ sortOption.viewValue }}
          </option>
        </select>
      </form>
    </div>
    <div class="divider"></div>
    <div class="filter-group">
      <h4>Pagination</h4>
      <label>Projects per page</label>
      <select (change)="onPaginationChange()" [formControl]="paginationOptionControl" class="option-select">
        <option *ngFor="let paginationOption of paginationDropDownOptions" [ngValue]="paginationOption"
          class="paginationDropDown">
          {{ paginationOption.amountOnPage }}
        </option>
      </select>
    </div>
    <div class="divider"></div>
    <div *ngIf='false' class="filter-group">
      <h4>Tags</h4>
      <div class="project-tags">
        <div class='searchbar'>
          <input type="text" placeholder="search tag" maxlength="100">
          <button><img alt="" aria-label="Search tag" loading="lazy" src="assets/images/research.svg"/></button>
        </div>
        <div class='tag-group'>
          <a *ngFor="let tag of tags" class="tag with-button smaller">
            {{tag}} <button>&times;</button>
          </a>
        </div>
        <div class='tag-group'>
          <a *ngFor="let tag of recommended" class="tag with-button inactive smaller">
            {{tag}} <button>&times;</button>
          </a>
        </div>
      </div>
    </div>