@import "assets/styles/variables";

.highlight-slider {
  //height: calc(100vh - 200px);
  height: 85vh;
  background-color: white;
  margin: -24px -39px 0;
  width: calc(100% + 78px);
  position: relative;
  overflow: hidden;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .lines {
    position: absolute;
    right: -600px;
    top: -400px;
    opacity: 0.225;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
  }

  .content {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    //grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    justify-content: left;
    align-items: center;
    padding: 80px;
    gap: 10px;

    max-width: 1800px;
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
      padding: 30px;
    }

    .text {
      max-width: 1800px;
      width: 100%;

      h1,
      p {
        width: fit-content;
        color: $white;
      }
      p {
        font-size: 18px;
      }

      .buttons {
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
        width: fit-content;
        margin-top: 50px;

        button {
          background-color: $accent-color-red-primary;
          color: white;
          border-radius: $border-radius;
          border: none;
          outline: none;
          padding: 8px 20px;
          width: fit-content;

          &:hover {
            background-color: $accent-color-red-secondary;
          }
        }
      }
    }

    .cards {
      display: grid;
      grid-auto-flow: column;
      gap: 40px;
      height: 100%;
      max-width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      padding: 10px 0;

      //scrollbar stylingbody
      &::-webkit-scrollbar {
        height: 4px;
      }

      &::-webkit-scrollbar-track {
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 999px;
        background-color: rgba(255, 255, 255, 0.3);
      }

      // @include media-breakpoint-down(sm) {
      //   display: none;
      // }

      div {
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: $border-radius;

        .card {
          padding: 30px 30px;
          background: #ffffff;
          box-shadow: $box-shadow;
          border-radius: 6px;
          border: none;
          cursor: pointer;
          height: 100%;
          transition: transform $transition-short;

          &:hover {
            transform: $transform-grow;
          }
        }

        .card-title {
          display: flex;
          max-height: 40px;

          // @include media-breakpoint-down(sm) {
          //   flex-direction: column;
          // }

          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            overflow: hidden;
            border-radius: 999px;
            background-size: cover;
            background-position: center;
            box-shadow: 0 0px 4px #0000001a;

            // @include media-breakpoint-down(sm) {
            //   margin: auto;
            //   margin-bottom: 10px;
            // }
          }

          h3 {
            margin: auto 5px;
            max-width: calc(100% - 50px);
            hyphens: auto;

            // @include media-breakpoint-down(sm) {
            //   margin: auto;
            //   text-align: center;
            //   max-width: 100%;
            // }
          }
        }

        p {
          line-height: 1;
          display: flex;
          margin-top: 10px;
          max-width: 100%;
          flex-direction: column;
          overflow: hidden;
          hyphens: auto;
        }
      }
    }
  }
}
