<div class="highlight-slider">
  <img src="/assets/images/header.png" alt="illustrative image" />
  <div class="overlay"></div>
  <div class="content">
    <div class="text">
      <h2>DeX - for digital excellence</h2>
      <p>DeX is a platform to share and find inspiring projects.</p>
      <div class="buttons">
        <button (click)="viewAllProjects()">View all projects</button>
        <button (click)="viewAddProject()">Add your project</button>
      </div>
    </div>
    <div class="cards">
      <div *ngFor="let highlight of highlights">
        <div class="card" (click)="onClickHighlightedProject(highlight.projectId, highlight.project.name)">
          <div class="card-title">
            <div class="icon" [ngStyle]="{ 'background-image': 'url(' + getIconUrl(highlight.projectId) + ')' }"></div>
            <h3>{{ highlight.project.name }}</h3>
          </div>
          <p class="large">{{ highlight.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
