<div class="container-left">
  <img alt="circle-blue" class="top-right" src="/assets/images/shapes/circle-blue.svg" />
  <img alt="rectangle-red" class="bottom-left" src="/assets/images/shapes/rectangle-red.svg" />
  <img alt="lines" class="lines" src="/assets/images/shapes/lines.svg" />
  <div class="inner">
    <img alt="mockup overview projects" src="/assets/images/homepage/mockup-overview-rex.png" />
    <div class="text">
      <h2>Find inspiring projects</h2>
      <p>
        Browse our database of projects to find inspirational ideas that spark new innovations or build upon your own. Find work that aligns with your interests or projects compatible with yours.
      </p>
      <button (click)="viewAllProjects()">Browse projects</button>
    </div>
  </div>
</div>
