<div class="container-left">
  <img class="top-right" src="/assets/images/shapes/circle-blue.svg" />
  <img class="bottom-left" src="/assets/images/shapes/rectangle-red.svg" />
  <img class="lines" src="/assets/images/shapes/lines.svg" />
  <img src="/assets/images/homepage/mockup-overview-rex.png" />
  <div class="text">
    <h2>Find inspiring projects</h2>
    <p>
      What is a developer without inspiration? We want everybody to be able to work on amazing projects and grow in their skills and creativity.
      Thanks to DeX, you will never be out of ideas to pick up or collaborate on.
    </p>
    <button (click)="viewAllProjects()">View all projects</button>
  </div>
</div>
