<div class="info-cards">
  <img class="lines" src="/assets/images/shapes/lines.svg" />
  <div class="card-wrapper">
    <img class="image image4" src="/assets/images/shapes/rectangle-small-red.svg" />
    <img class="image image1" src="/assets/images/shapes/circle-small-blue.svg" />
    <div class="card">
      <img src="/assets/images/shapes/circle-small-blue.svg" />
      <div class="text">
        <h3>Share projects</h3>
        <p>
          Share your outstanding projects to make them known to the whole world! 
        </p>
      </div>
    </div>
  </div>
  <div class="card-wrapper">
    <img class="image image5" src="/assets/images/shapes/circle-small-red.svg" />
    <div class="card">
      <img src="/assets/images/shapes/circle-small-blue.svg" />
      <div class="text">
        <h3>View projects</h3>
        <p>
          Out of inspiration? Here you can find amazing projects to pick up or collaborate on.
        </p>
      </div>
    </div>
  </div>
  <div class="card-wrapper">
    <img class="image image1" src="/assets/images/shapes/rectangle-small-blue.svg" />
    <img class="image image2" src="/assets/images/shapes/circle-small-red.svg" />
    <div class="card">
      <img src="/assets/images/shapes/circle-small-blue.svg" />
      <div class="text">
        <h3>Collaborate on projects</h3>
        <p>
          The more knowledge and creativity, the cooler the projects! 
        </p>
      </div>
    </div>
  </div>
</div>
