@import "assets/styles/variables";
.info-cards {
  margin: 0 -39px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  justify-content: center;
  gap: 80px;
  padding: 120px 80px;
  //grid-auto-rows: 350px;
  .card-wrapper {
    position: relative;
    .card {
      width: 100%;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      display: inline-block;
      z-index: 2;
      border: none;
      display: grid;
      height: 100%;

      grid-template-rows: 1fr 1fr;
      img {
        height: 150px;
        margin: auto;
        width: auto;
        padding: 20px 20px 0 20px;
      }
      .text {
        padding: 30px;
        p {
          margin: 0;
        }
      }
    }
    .image {
      height: 200px;
      width: auto;
      position: absolute;
      z-index: 1;
    }
    .image1 {
      left: -20px;
      bottom: -26px;
    }
    .image2 {
      right: -20px;
      top: -26px;
    }
    .image3 {
      left: -20px;
      bottom: -26px;
    }
    .image4 {
      right: 10px;
      top: -45px;
    }
    .image5 {
      bottom: -20px;
      right: -20px;
    }
  }
}
