<div class="info-cards">
  <div class="card-wrapper">
    <img class="image image4" src="/assets/images/shapes/rectangle-small-red.svg" />
    <img class="image image1" src="/assets/images/shapes/circle-small-blue.svg" />
    <div class="card">
      <img src="/assets/images/shapes/circle-small-blue.svg" />
      <div class="text">
        <h3>Share projects</h3>
        <p>
          Stukje dex algemeen niet te lang, lorem ipsum dolor sit amet lorem ipsum dolor sit amet., lorem ipsum dolor sit amet lorem ipsum dolor sit
          amet
        </p>
      </div>
    </div>
  </div>
  <div class="card-wrapper">
    <img class="image image5" src="/assets/images/shapes/circle-small-red.svg" />
    <div class="card">
      <img src="/assets/images/shapes/circle-small-blue.svg" />
      <div class="text">
        <h3>View projects</h3>
        <p>
          Stukje dex algemeen niet te lang, lorem ipsum dolor sit amet lorem ipsum dolor sit amet., lorem ipsum dolor sit amet lorem ipsum dolor sit
          amet
        </p>
      </div>
    </div>
  </div>
  <div class="card-wrapper">
    <img class="image image1" src="/assets/images/shapes/rectangle-small-blue.svg" />
    <img class="image image2" src="/assets/images/shapes/circle-small-red.svg" />
    <div class="card">
      <img src="/assets/images/shapes/circle-small-blue.svg" />
      <div class="text">
        <h3>Collaborate on projects</h3>
        <p>
          Stukje dex algemeen niet te lang, lorem ipsum dolor sit amet lorem ipsum dolor sit amet., lorem ipsum dolor sit amet lorem ipsum dolor sit
          amet
        </p>
      </div>
    </div>
  </div>
</div>
