<div class="info-cards">
  <img alt="lines" class="lines" src="/assets/images/shapes/lines.svg"/>
  <div class="card-wrapper">
    <img alt="rectange-red" class="image image4" src="/assets/images/shapes/rectangle-small-red.svg"/>
    <img alt="circle-blue" class="image image1" src="/assets/images/shapes/circle-small-blue.svg"/>
    <div class="card">
      <img alt="share projects" src="/assets/images/illustrations/shareprojects.svg"/>
      <div class="text">
        <h3>Share projects</h3>
        <p>
          Share your outstanding projects to make them known to the whole world!
        </p>
      </div>
    </div>
  </div>
  <div class="card-wrapper">
    <img alt="circle-red" class="image image5" src="/assets/images/shapes/circle-small-red.svg"/>
    <div class="card">
      <img alt="view projects" src="/assets/images/illustrations/viewprojects.svg"/>
      <div class="text">
        <h3>View projects</h3>
        <p>
          Out of inspiration? Here you can find amazing projects to pick up or collaborate on.
        </p>
      </div>
    </div>
  </div>
  <div class="card-wrapper">
    <img alt="rectange-blue" class="image image1" src="/assets/images/shapes/rectangle-small-blue.svg"/>
    <img alt="circle-red" class="image image2" src="/assets/images/shapes/circle-small-red.svg"/>
    <div class="card">
      <img alt="collaborate" src="/assets/images/illustrations/collaborate.svg"/>
      <div class="text">
        <h3>Collaborate on projects</h3>
        <p>
          The more knowledge and creativity, the cooler the projects!
        </p>
      </div>
    </div>
  </div>
</div>
