@import "assets/styles/variables";

.container-right {
  display: flex;
  height: 80vh;
  max-height: 850px;
  background-color: white;
  margin: 0 -39px;
  width: calc(100% + 78px);
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 60px;
  margin-bottom: -65px;
  @media only screen and (max-width: 1000px) {
    max-height: unset;
    height: auto;
  }

  .top-right {
    height: 350px;
    width: auto;
    position: absolute;
    top: -200px;
    right: -200px;
    z-index: 1;
  }

  .bottom-left {
    left: -250px;
    bottom: 20%;
    height: 350px;
    width: auto;
    position: absolute;
    z-index: 1;

    @media only screen and (max-width: 1800px) {
      display: none;
    }
  }

  .lines {
    position: absolute;
    right: -200px;
    top: -60px;
    z-index: 0;
  }

  .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    max-width: 1920px;
    margin: auto;
    align-items: center;
    @media only screen and (max-width: 1000px) {
      grid-template-columns: 1fr !important;
      img {
        grid-area: 1;
        max-width: 100%;
      }
    }
    img {
      justify-self: center;
      z-index: 2;
      max-width: 1000px;
      width: 100%;
    }

    .text {
      height: fit-content;
      display: grid;
      gap: 40px;
      max-width: 750px;
      z-index: 2;
      justify-self: center;

      button {
        background-color: $accent-color-red-primary;
        color: white;
        border-radius: $border-radius;
        border: none;
        outline: none;
        padding: 8px 20px;
        width: fit-content;

        &:hover {
          background-color: $accent-color-red-secondary;
        }
      }
    }
  }
}
