<div class="container-right">
  <img alt="circle-blue" class="top-right" src="/assets/images/shapes/circle-blue.svg" />
  <img alt="rectangle-red" class="bottom-left" src="/assets/images/shapes/rectangle-red.svg" />
  <img alt="lines" class="lines" src="/assets/images/shapes/lines.svg" />
  <div class="inner">
    <div class="text">
      <h2>Share your own projects</h2>
      <p>
        By uploading your projects, you contribute to a growing body of work that helps your fellow and future students, teachers and researchers. Upload scripts, software solutions or (research) papers or use the easy wizard to share your work!
      </p>
      <button (click)="viewAddProject()">Share my projects</button>
    </div>
    <img alt="mockup wizard" src="/assets/images/homepage/mockup-wizard.png" />
  </div>
</div>
