<div class="container-left">
  <img class="top-right" src="/assets/images/shapes/circle-blue.svg" />
  <img class="bottom-left" src="/assets/images/shapes/rectangle-red.svg" />
  <img class="lines" src="/assets/images/shapes/lines.svg" />
  <div class="text">
    <h2>Find inspiring projects</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
      dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
      enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncutellus.
    </p>
    <button>View all projects</button>
  </div>
  <img src="/assets/images/placeholder.png" />
</div>
