<div class="container-right">
  <img alt="circle-blue" class="top-right" src="/assets/images/shapes/circle-blue.svg"/>
  <img alt="rectangle-red" class="bottom-left" src="/assets/images/shapes/rectangle-red.svg"/>
  <img alt="lines" class="lines" src="/assets/images/shapes/lines.svg"/>
  <div class="text">
    <h2>Share your own projects</h2>
    <p>
      If you want to find a great team to work further on your project, or you just want your project to be more than a draft, Dex is the place for
      your project! Thanks to the wizard, it is super easy to share your projects and find what you are looking for.
    </p>
    <button (click)="viewAddProject()">Add your project</button>
  </div>
  <img alt="mockup wizard" src="/assets/images/homepage/mockup-wizard.png"/>
</div>
