@import "src/assets/styles/variables";

.project {
  display: flex;
  background-color: $white;
  padding: 10px;
  margin: 0;
  border-radius: 5px;

  .project-icon {
    width: 75px;
    height: auto;
    margin-right: 1em;
  }

  &.list {
    width: 100%;

    div {
      flex: 1 1 auto;
      text-align: center;
      margin: auto 0;
    }

    .project-info {
      text-align: left;
      width: 20%;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .project-likes,
    .project-created-date,
    .project-user-name {
      width: auto;
    }

  }

  &.grid {
    height: 100%;
    flex-direction: column;
    padding: 15px;

    .project-info {
      .top-wrapper{
        display: flex;
        justify-content: space-between;
        .circle{
          background-color: $accent-color-red-primary;
          border-radius: 999px;
          width: 35px;
          height: 35px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            height: 100%;
            width: auto;
            margin-right: 0;
          }
        }
      }
    }

    .project-icon {
    }

  }

}
