<ng-container *ngIf="showListView">
  <div class="project list">
    <img class="project-icon"
        align="middle"
        alt="project-image"
        [src]="getIconUrl(project)"
        onerror="this.src='/assets/images/placeholder.svg';"
        loading="lazy">
    <div class="project-info">
      <h3 class="project-name">{{project.name}}</h3>
      <p class="project-short-description">{{project.shortDescription}}</p>
    </div>
    <div class="project-likes">0</div>
    <div class="project-created-date">{{project.created | date: 'longDate'}}</div>
    <div class="project-user-name">{{project.user.name}}</div>
  </div>
</ng-container>

<ng-container *ngIf="!showListView" >
  <div class="project grid">
    <div class="project-info">
      <div class='top-wrapper'>
        <h3 class="project-name">{{project.name}}</h3>
        <div class='circle'>
          <img class="project-icon"
              align="middle"
              alt="project-image"
              [src]="getIconUrl(project)"
              onerror="this.src='/assets/images/placeholder.png';"
              loading="lazy">
        </div>
      </div>
      <p class="project-short-description">{{project.shortDescription}}</p>
    </div>
    <div class="project-likes">0</div>
    <div class="project-created-date">{{project.created | date: 'longDate'}}</div>
    <div class="project-user-name">{{project.user.name}}</div>
  </div>
</ng-container>