<!-- List project -->
<ng-container *ngIf="showListView">
  <div class="project list">
    <div class='circle'>
      <img [src]="getIconUrl(project)"
           align="middle"
           alt="project-image"
           class="project-icon"
           loading="lazy"
           onerror="this.src='/assets/images/placeholder.svg';">
    </div>
    <div class="project-info">
      <h3 (click)="onProjectClick(project)" class="project-name">{{project.name}}</h3>
      <p class="project-short-description">{{project.shortDescription}}</p>
    </div>
    <div class="item project-likes"><i class='far fa-heart'></i> 0 Likes</div>
    <div class="item disabled project-created-date" [tooltip]="projectUpdated">
      <i class='far fa-clock'></i>
      {{project.created | date: 'longDate'}}
      <ng-template #projectUpdated>
      Updated: {{project.updated | date: 'mediumDate'}}
      </ng-template>
    </div>
    <div class="item project-user-name"><i class='fas fa-user'></i> {{project.user.name}}</div>
  </div>
</ng-container>

<!-- Grid Project-->
<ng-container *ngIf="!showListView">
  <div class="project grid">
    <div class="project-info">
      <div class='top-wrapper'>
        <h3 (click)="onProjectClick(project)" class="project-name">{{project.name}}</h3>
        <div class='circle'>
          <img [src]="getIconUrl(project)"
               align="middle"
               alt="project-image"
               class="project-icon"
               loading="lazy"
               onerror="this.src='/assets/images/placeholder.png';">
        </div>
      </div>
      <p class="project-short-description">{{project.shortDescription}}</p>
    </div>
    <div class='tags'>
      <div class='tag'>UX</div>
      <div class='tag'>UI</div>
      <div class='tag'>Development</div>
      <div class='tag'>Creatief</div>
      <div class='tag'>Arduino</div>
      <div class='tag'>HTML</div>
      <div class='tag plus'>+ 3</div>
    </div>
    <div class='bottom-wrapper'>
      <div class='item'>
        <i class='far fa-heart'></i>
        <div class="project-likes">0 Likes</div>
      </div>
      <div [tooltip]="project.collaborators.length > 0 ? projectCollaborators : null" class='item'>
        <ng-template #projectCollaborators>
          <ul>
            <li *ngFor="let collaborator of project.collaborators">
              {{collaborator.fullName}}
            </li>
          </ul>
        </ng-template>
        <i class='fas fa-users'></i>
        <div class="project-collaborators">{{project.collaborators.length}} collaborators</div>
      </div>
      <div [tooltip]="projectUpdated" class='item'>
        <ng-template #projectUpdated>
          Updated: {{project.updated | date: 'mediumDate'}}
        </ng-template>
        <i class='far fa-clock'></i>
        <div class="project-created-date">{{project.created | date: 'mediumDate'}}</div>
      </div>
      <div class='item'>
        <i class='fa fa-user'></i>
        <div class="project-user-name">{{project.user.name}}</div>
      </div>
    </div>
  </div>
</ng-container>
