<div class="form-steps-container">
  <ng-container *ngFor="let step of steps | async; let i = index">

    <div class="index-wrapper">
      <div
          (click)="onStepClick(step)"
          [ngClass]="{
        'step-complete': step.isComplete,
        'step-incomplete': !step.isComplete,
        'step-current': (currentStep | async)?.orderIndex === step.orderIndex
      }"
          class="step-bubble"
      >
        {{ i + 1 }}
      </div>
    </div>
    <div *ngIf="i < (steps | async)?.length - 1"
         [ngClass]="{
            'step-complete': step.isComplete,
            'step-current': (currentStep | async)?.orderIndex === step.orderIndex && !step.isComplete
         }"
         class="step-divider">
    </div>
  </ng-container>
</div>
