<div id="title-wrapper">
  <h2 class="project-title">{{ project.name }}</h2>
  <div class="circle" style="background-color: unset">
    <img [src]="getIconUrl(project.projectIcon)" alt="Code project" loading="lazy" onerror="this.src='/assets/images/placeholder.svg';"/>
  </div>
</div>
<div class="project-metadata">
  <div *ngIf="project.user" class="project-metadata__item">
    <p class="title">Uploader <em class="fas fa-user"></em></p>
    <p>
      {{ project.user.name }}
    </p>
  </div>

  <div *ngIf="project.uri" class="project-metadata__item">
    <p class="title">External Link <em class="fas fa-external-link-alt"></em></p>
    <a class="hover" href="{{ project.uri }}" rel="noreferrer noopener" target="_blank">{{ project.uri }}</a>
  </div>
  <div class="project-metadata__item">
    <p class="title">Likes <em class="fas fa-heart"></em></p>
    <p (click)="likeClicked()" class="hover">
      <em [ngClass]="[project.userHasLikedProject ? 'fas' : 'far', this.animationTriggered ? 'animated' : '']" class="fa-heart"></em>
      {{ project.likeCount }}
    </p>
  </div>
  <div [tooltip]="projectUpdated" class="project-metadata__item">
    <p class="title cursor-pointer">Upload Date <em class="fas fa-calendar"></em></p>
    <p class="hover">{{ project.created | date: "longDate" }}</p>
    <ng-template #projectUpdated>
      <p>Created: {{ project.created | date: "mediumDate" }}</p>
      <p>Updated: {{ project.updated | date: "mediumDate" }}</p>
    </ng-template>
  </div>
</div>

<div class="project-tags">
      <p class="title">Tags</p>
      <div class="detail-tag-group">
         <a *ngFor="let tag of displayedTags" class="tag">
           {{tag.name}}
         </a>

        <a *ngFor="let tag of overflowTags" class="tag" [ngClass]="{ hidden: !displayOverflowTags }">
          {{tag.name}}
        </a>
      </div>
      <button class="btn-toggle-overflow" [ngClass]="{ hidden: displayOverflowTags }" *ngIf="overflowTags.length > 0" (click)="displayOverflowTags = !displayOverflowTags">
        <span *ngIf="!displayOverflowTags">Show {{overflowTags.length}} more</span>
        <span *ngIf="displayOverflowTags">Hide</span>
      </button>
</div>
