<div class="searchBar">
  <div class="searchInput">
    <div class="wrapper">
      <input
        type="search"
        placeholder="search project"
        [formControl]="searchControl"
        (keyup)="onChangeFunction($event)"
        aria-label="Search project"
      />
      <button (click)="onClickSearch()">
        <em class="fas fa-search"> </em>
      </button>

      <div class="results">
        <div class="result" *ngFor="let searchResult of searchResults" (click)="onClickProject(searchResult.id, searchResult.name)">
          <div class="icon" [ngStyle]="{ 'background-image': 'url(' + getIconUrl(searchResult.projectIcon) + ')' }"></div>
          <div class="resultName">
            <span
                *ngFor="let partial of setMatchedToBold(searchResult.name)"
                [ngClass]="{bold: partial.bold}">{{partial.text}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
