/* You can add global styles to this file, and also import other style files */
$light-mode-title-color: #323232;
$light-mode-text-color: #707175;
$light-mode-background-color: #F4F6F8;
$light-mode-component-color: #FFFFFF;

.main-container {
  background-color: $light-mode-background-color;
}
body{
  background-color: $light-mode-background-color;
}
h1,
h2,
h3,
h4,
a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: $light-mode-title-color;
}
h1 {
  font-size:55px;
}
h2 {
  font-size:30px;
}
h3 {
  font-size:18px;
}
h4 {
  font-size:14px;
}
a {
  display:block;
  font-size:14px;
  font-weight: 600;
  text-decoration:underline !important;
  color:black;
  &:active, &:hover, &:focus, &:visited {
    color:black;
  }
}
p {
  margin: 15px 0;
}
