@import 'variables';

body {
  font-family: "Open Sans", sans-serif;
  background-color: $light-mode-background-color;

  p {
    font-family: 'Lato', sans-serif;
    color: $light-mode-text-color;
    font-size: 14px;
  }

  p.large {
    font-size: 18px;
  }

  p.small {
    font-size: 12px;
  }
}

.main-container {
  background: none;
}

h1,
h2,
h3,
h4,
a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: $light-mode-title-color;
}

h1 {
  font-size:55px;
  margin: 30px 0px;
}
h2 {
  font-size:30px;
}
h3 {
  font-size:18px;
}
h4 {
  font-size:14px;
}

a {
  display:block;
  font-size:14px;
  font-weight: 600;
  text-decoration:underline !important;
  color:black;
  &:active, &:hover, &:focus, &:visited {
    color:black;
  }
}
