@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$light-mode-title-color: #323232;
$light-mode-text-color: #707175;
$light-mode-background-color: #f4f6f8;
$light-mode-component-color: #ffffff;

$accent-color-primary: #e85b3f;

$font-family-base: "Lato", sans-serif;
$font-family-headings: "Montserrat", sans-serif;
