<h2 class="step-header">Want to add a call to action?</h2>
<p>Get people in action!</p>
<form class="grid">
  <input class="radio" type="radio" name="call-to-action" />
  <button class="form-continue-btn">
    Collaborate with us
    <span class="fas fa-user"></span>
  </button>
  <input class="text-input" />
  <input class="radio" type="radio" name="call-to-action" />
  <button class="form-continue-btn">
    Provide feedback
    <span class="fas fa-user"></span>
  </button>
  <input class="text-input" />
  <input class="radio" type="radio" name="call-to-action" />
  <button class="form-continue-btn">
    Apply now
    <span class="fas fa-user"></span>
  </button>
  <input class="text-input" />
</form>
<div class="bottom-button-wrapper">
  <button (click)="onClickNext()" class="form-continue-btn">Next</button>
</div>
