<h2 class="step-header">Want to add a call to action?</h2>
<p>Get people in action!</p>
<div class="grid">
  <ng-container *ngFor="let callToActionOption of callToActionOptions">
    <input [(ngModel)]="selectedCallToActionOptionId" [ngClass]="{'disabled': callToActionOption.id !== selectedCallToActionOptionId}" [value]="callToActionOption.id"
           class="radio"
           name="call-to-action"
           type="radio"/>
    <button [ngClass]="{'disabled': callToActionOption.id !== selectedCallToActionOptionId}"
            class="form-continue-btn">
      {{callToActionOption.value}}
    </button>
    <input (change)="urlChange($event, callToActionOption.id)" [disabled]="callToActionOption.id !== selectedCallToActionOptionId" [ngClass]="{'disabled': callToActionOption.id !== selectedCallToActionOptionId}"
           [required]="callToActionOption.id === selectedCallToActionOptionId"
           aria-label="action-url"
           class="text-input"
           type="url"/>
  </ng-container>
</div>
<div class="bottom-button-wrapper">
  <button (click)="onClickNext()" class="form-continue-btn">Next</button>
</div>
