<div class="row justify-content-center">
    <div class="col-6">
        <ng-container *ngIf="userLoading else userLoaded">
            <p>User is loading...</p>
        </ng-container>
        <ng-template #userLoaded>
            <ng-container *ngIf="user; else noUser">

                <tabset type="pills">
                    <tab heading="User info" class="tab">
                        <app-profile-edit></app-profile-edit>
                    </tab>
                    <tab heading="Settings" class="tab">
                        <app-settings></app-settings>
                    </tab>
                </tabset>

            </ng-container>
            <ng-template #noUser>
                <p>User could not be loaded</p>
            </ng-template>
        </ng-template>
    </div>
</div>